@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">
    <h1 class="display-4">Deseja deletar o contato (nome)?</h1>
    <br />
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Contato" asp-action="">Deletar contato</a>
    <a class="btn btn-secondary" role="button" asp-area="" asp-controller="Contato" asp-action="Index">Cancelar</a>
    <br />
    <br>
    
</div>

